* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../media/images/bg_stars.gif");
}

.header {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 900;
    padding: 20px;
    margin: 10px;
}

.topnav {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 900;
}

h3 {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 700;
}
p {
    color: white;
    text-align: left;
    font-family: Georgia, serif;
    font-weight: 600;
    padding: 20px;
}

.column {
    float: middle;
    background-color: black;
    padding: 10px;
    border-left: white;
    border-right: white;
    border-left-style: dashed;
    border-right-style: dashed;
    margin-left: 10%;   
    margin-right: 10%;
}
