* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../media/images/bg_stars.gif");
    padding-bottom: 80px;
    width: 100%;
    margin-bottom: 60px;
    font-family: Georgia, serif;
    font-weight: 900; 
}

.title {
    margin: 10px;
    border: solid white;
    border-style: dashed;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 900; 
}

.header {
    border-bottom: none;
    margin-bottom: 0px;
    padding: 4px;
    font-size: 40px;
}

.topnav {
    border-top: none;
    margin-top: 0px;
    padding: 3px;

}

h3 {
    color: white;
    text-align: center;
}


p {
    color: white;
    text-align: left;
    font-family: Georgia, serif;
    font-weight: 600;
    padding: 20px;
}

.blank {
    float: middle;
    background-color: black;
    padding: 10px;
    border: white;
    border-left-style: dashed;
    border-right-style: dashed;
    margin-left: 10%;   
    margin-right: 10%;
}
