* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body{
    background-image: url("../../media/images/bg_stars.gif");
    width: 100%;
    font-family: Georgia, serif;
    color: white;
    border: white;
}

.header {
    margin: 20px;
    padding: 5px;
    border-style: dashed;
    background-color: black;
    text-align: center;
}

a:link {
  color: #f77bb8;
}

a:visited {
  color: #950250;
}

a:hover {
  color: #ca1e78;
}

h1 {
    font-size: 50px;
}
    

h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: #f77bb8;
}

p {
    text-align: left;
    font-weight: 600;
    margin: 10px;
}

.container {
    display: flex; 
    flex-flow: row wrap;
    margin-bottom: 90px;
}

.column {
    display: flex; 
    flex-direction: column;
}

.column.side {
    width: 35%;
}

.column.middle {
    width: 30%;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
    width: 100%;
    }
}

.box {
    float: left;
    background-color: black;
    border-style: dotted;
    border-radius: 5%;
    padding: 10px;
    margin: 15px; 
}

.blank {
    float: middle;
    background-color: black;
    padding: 10px;
    border-left-style: dashed;
    border-right-style: dashed;
    margin-left: 10%;   
    margin-right: 10%;
}

.footer {
    position: static;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    background-color: #f77bb8;
    padding: 5px;
    border-top-style: dashed;
}