* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../media/images/bg_stars.gif");
    position: absolute;
    padding-bottom: 80px;
}

.header {
    background-color: black;
    padding: 3px;
    border: solid white;
    border-style: dashed;
    border-bottom: none;
    margin: 10px;
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 900;
}

.topnav {
    background-color: black;
    padding: 5px;
    border: solid white;
    border-style: dashed;
    border-top: none;
    margin: 10px;
    margin-top: 0px;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 900;
}

h3 {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 700;
}

p {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 600;
    padding: 20px;
}

.column {
    float: left;
    background-color: black;
    padding: 10px;
    border: white;
    border-style: dotted;
    border-radius: 5%;
    margin: 1%;   
}

.column.side {
    width: 32%;
}

.column.middle {
    width: 30%;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
    width: 100%;
    }
}
    
.footer {
    position: static;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center; 
    font-family: Georgia, serif;
    font-weight: 300;
    background-color: darkslateblue;
    padding: 5px;
    border: white;
    border-top-style: dashed;
    margin-top: 10px;
}